ul {
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #666;
	line-height: 1;
}

header {
	font-size: 20px;
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

img {
	width: 100%;
	height: auto;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 10px 20px;
}

.container-fluid {
	max-width: 100%;
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
}

.padding-1 {
	padding: 1em;
}

.padding-2 {
	padding: 2em;
}

.padding-3 {
	padding: 3em;
}


.title {
	color: #1f2857;
}

.btn {
	padding: 0.75em;
	border: 1px solid #fa6400;
	background-color: #fa6400;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.btn:hover {
	background-color: #fff;
	color: #fa6400;
}

.btn:after {
	display: inline-block;
	content: '';
	width: 0.25em;
	height: 0.25em;
	margin-left: 20px;
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	transform: rotate(45deg);
}

.test {
	border: 2px solid red;
}

/* Navigation styles */
nav img {
	width: 100%;
	max-width: 300px;
	margin: auto;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline;
}

nav a {
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #1f2857;
}

nav a:hover {
	color: #fa6400;
}

.nav-central-links {
	text-align: center;
}

.nav-right-links {
	text-align: center;
}

/* Banner styles */


/* Content styles */
.content {
	padding: 1em;
	font-size: 16px;
	font-weight: 400;
}

/* Footer styles */
footer {
	background-color: #ebebeb;
	border-top: 1px solid #ccc;
}

footer h2 {
	text-align: center;
	margin-bottom: 50px;
}

.footer-item {
	padding: 0.5em;
}

.footer-item img {
	margin: 0 auto;
}

/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.column {
		flex-basis: 100%;
		flex: 1
	}

	.nav-central-links {
		text-align: left;
	}
	
	.nav-right-links {
		text-align: right;
	}

	.content {
		padding: 3em;
		font-size: 16px;
		font-weight: 400;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}